@import url(https://fonts.googleapis.com/css?family=Khula:700);
.wholePage{
  height:100%;
  width: 100%;
  /* border: 5px solid rgb(170, 26, 98); */
  background-color:#2d3338 ;
  position: relative;
}
.Portfolio{
  /* border: 2px solid rgb(248, 250, 248); */
  background-image: url("./images/lap2.jpg");
  background-repeat: no-repeat;
  /* display:table; */
  background-size: cover;
  border-top: 2px solid rgb(251, 251, 253);
  height:100vh;
  width:100%;
  /* padding: auto; */
  text-align: center;
  /* position:static; */
}
.box {
  background-color: rgba(105, 102, 93, 0.3);
  border-radius: 5px;
  font-family: sans-serif;
  text-align: center;
   /* line-height: 1; */
   background-size: cover;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(2px);
  height:86%;
  width:100%; 
  bottom: 10px;
top: 10px;
  padding-top: 0px; 
  position: static;
  justify-self:normal;
} 
#here{
  text-decoration: underline;
  color: "white";
}
.p2{
  background-repeat: no-repeat;
  position: static;
  width: 70%;
height: 80%;
/* border: 2px solid rgb(40, 202, 135); */
/* margin-left: 40%; */
font-weight: bolder;
font-size: x-large;
color: rgb(255, 255, 255);
text-align: center;
align-content: center;
/* opacity: 0.9; */
margin: auto;
margin-top: 7%;

}
.imgSpan1{
  position: static;

}
.console-container{
  font-family:Khula;
  font-size:3.5em;
  text-align:center;
  height:100px;
  padding: auto;
  background-size: contain;
  align-content: center;
  align-items: center;
  width: 100%;
  margin:auto;
  /* border: 2px solid rgb(255, 0, 128); */
position:inherit;
}
.console-underscore {
  display:inline-block;
 position:relative;
 top:-0.14em;
 left:10px;
}

.navDiv{
  color: rgb(26, 146, 86);
  /* border: 2px solid rgb(14, 2, 2);  */
/* margin-left: 40%; */
/* margin-bottom:50%; */
/* height: 10px; */
/* margin-top: 1px; */
font-weight: bold;
font-family: sans-serif;
/* justify-content: space-between; */
/* display: inline-flex; */
position: fixed;
width: 100%;
}
.navbar{
  /* display: table-row; */
  
  color: rgb(18, 78, 43);
 /* position: fixed; */
 width: 100%;
 height: 50px;
/* background-blend-mode: overlay ;  */
}
#dev-content{
font-size: 1.1rem;
color: #fafdfb;
/* align-content: center; */
text-align: center;
}
 .img1{
  width: 70%;
  margin-left: 100px;
  margin-right: 100px;
  height: 400px;
  background-repeat: no-repeat;
} 
.nametext{
  width: 10px;
}
.imgAbout{
  display: flex;
  flex-direction: row;
  /* border: 2px solid rgb(250, 246, 246); */

}
 
.aboutClass {
          text-decoration: none;
          color: white;
          /* font-size: 0.1rem; */
          font-family: sans-serif;
         
       margin-bottom: 12
      px;
    
      color: rgb(255, 255, 255);
      /* position: relative; */
       padding: 80px;
}

.links{
  margin: 20px;
  color: #030303;
  text-decoration:wavy ;
  
}
.container1{
  display: flex;
  flex-direction: row;
  color: white;
  /* font-size: large; */
}

.imgSpan{
   padding: 80px;
}
.imgSpan2{
  padding-left: 200px;
}
#mobileNo{
  color: blue;
}
#gmail{
  color: white;
}
.EDUCATION{
  /* padding-left:80px; */
  color: rgb(73, 69, 69);
display: flex;
flex-direction:row;
background-color: white;
/* padding: 10px; */
/* margin: 0px; */
/* height: 100vh; */
width: 100%;
/* padding-left:100px ; */
/* padding-top: 50px; 
 padding-bottom: 50px; 
 padding-right: 50px;  */
}
.Work{
  border-top: 1px solid rgb(151, 144, 144);
  /* padding-left:150px; */
  color: rgb(73, 69, 69);
display: flex;
flex-direction:row;
/* justify-content: space-between; */
background-color: white;
 padding-top: 50px; 
 padding-bottom: 50px; 
 padding-right: 50px; 
/* margin: 0px;  */
/* height: 100%; */
width: 100%;
} 
#edu1{
  font-size: 1.2rem;
/* font-style: oblique ; */
  /* padding-left: 82px; */
  font-style: italic;
  font-variation-settings: 'ital' 1;
  font-optical-sizing: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.Skills{
  border-top: 1px solid rgb(151, 144, 144);
/* padding: 50px; */
   /* padding-left:150px; */
   color: rgb(0, 0, 0);
   display: flex;
   flex-direction:column;
   /* border: 2px solid yellow; */
   /* justify-content: space-between; */
   background-color: white;
   /* padding: 0px;
   margin: 0px; */
   /* height: 100%; */
   width: 100%;
   /* content: "\P"; */
   padding-top: 50px; 
 padding-bottom: 50px; 
 padding-right: 50px; 
}
.skillsDiv{
  font-size: 1.3rem;
  color: rgb(5, 5, 5);
  display: flex;
  flex-direction: column;
  /* border: 2px solid yellow; */
padding: 20px;
  /* width: 100%; */
  font-size: 1.2rem;
font-style: oblique ;
  font-style: italic;
  font-variation-settings: 'ital' 1;
  font-optical-sizing: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 justify-content: space-between;
}
.skillchild{
  display: flex;
  flex-direction: column;
  /* border: 2px solid green; */
  padding-left: 300px; 
  padding-bottom: 50px; 
  /* padding-right: 50px;  */
}

/* #hr{
  height:0mm;
} */
#work1{
  /* padding: 80px; */
  text-align: center;
  margin-left: 100px;

  font-size: 1.2rem;
font-style: oblique ;
  /* padding-left:145px; */
  font-style: italic;
  font-variation-settings: 'ital' 1;
  font-optical-sizing: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.blackColor{
  color: black;
  font-style: normal;
  padding: 10px;
  text-align: left;
/* text-align: center; */
}
.e1{
  color: #030303;
  text-decoration: underline;
  /* border: 2px solid yellow; */

}
.leftSide{
  width: 300px;
  /* border: 2px solid rgb(138, 11, 11); */
/* display: flex;
flex-direction: column; */
}
.progress1 h4{
  margin-left: 75px;
  margin-bottom: 0px;

  padding: 0%;
  /* margin: 25px; */
  /* justify-content: space-between; */
}
#p1{
  height: 40px;
  margin: 70px;
  margin-top: 2px;
  margin-bottom: 30px;
  /* padding: 10px; */
  width: 70%;
}
#b1{
  /* padding: 10px; */
  /* margin: 25px; */
  margin-left: 70px;
  /* margin-bottom: 70px;  */
  margin-bottom: 30px;

  margin-right: 4.5px;

}
#AllB{
  margin-bottom: 30px;
  margin-right: 4.5px;

}
#allB{
  /* margin: 50px; */
  margin-left: 70px;
margin-bottom: 20px;

}
.progress1 em{
  font: 15
  px
   'opensans-bold', sans-serif;
      color: #313131;
    }
    .projectsDiv{
      display: flex;
      flex-direction: column;
      
    }
    .one-project{
      display: flex;
      flex-direction: row;
    }
    /* .ProjectsList{
      
      /* color: white; */
      /* border: 2px solid red; */

    /* } */ 
    .projectHead{
      color: rgb(255, 255, 255);
text-align: center;
/* background-color: rgb(53, 112, 53); */
    }
    .project1{
      height: 230px;
      width: 350px;
      /* border: 2px solid white; */
      margin-top: 70px;
      box-shadow: 2px 8px 10px rgb(101, 121, 126);

    }
    .project-img{
      width: 100%;
      height: 100%;
    }
.project-img:hover{
  transform: translate(1px, 1px);
  box-shadow: 2px 8px 10px rgb(247, 252, 253);
  /* width: 70%; */
}
.project2:hover{
  transform: translate(1px, 1px);
  box-shadow: 2px 8px 10px rgb(247, 252, 253);
  /* width: 70%; */
}
    
    .project2{
      height: 230px;
      width: 60%;
      /* border: 2px solid white; */
  box-shadow: 2px 8px 10px rgb(101, 121, 126);

      margin: 70px;
      color: white;
    }
    .project3{
      height: 200px;
      width: 350px;
      border: 2px solid white;
      margin-top: 70px;
    }
    .whole-footer-page{
      height: 100%;
      padding: 50px;
     
    }
    .internal-footer-pages{
      display: flex;
      flex-direction: row;
    }
    .foo-text{
      color: #918d8d;
      font-size: 1.5rem;
      text-align: center;
      font:  18
      px
      /36
      px
       'opensans-light', sans-serif;
       font-family: 18
       px
       /36
       px 'opensans-light', sans-serif ;
       padding: 50px;
    }
    .footer-form{
      width: 40%;
      margin: 80px;
    }
    #input-bars{
      height: 70px;
      /* margin: 40px; */
      background-color: #4d4b4b;
    }
    #form-text-area{
      height: 500px;
   
      background-color: #4d4b4b;
    }
    cite{
      color: rgb(255, 123, 1);;
    }
    .contactDetail{
      height: 500px;
      width:30%;
      border: 2px solid white;
      color: white;
     
       margin-top: 115px;
       margin-left: 150px;
      /* margin-left: 700px; */

    }