@import url(https://fonts.googleapis.com/css?family=Khula:700);
.wholePage{
  background-color: linear-gradient(
  180deg,rgb(112,112,112)0%,rgb(147,147,147)0%,rgb(100,100,100)30%,rgb(79,79,79)40%
  , rgb(124,124,124) 50%,rgb(60,60,60)70%,rgb(6,6,6)60%, rgb(40,40,40) 10%,rgb(6,6,6)100%);
  height:100%;
  width: 100%;
  border: 5px solid rgb(170, 26, 98);
  background-color:#2d3338 ;
}
.Portfolio{
  /* background-color: rgb(112,112,112); */
  background-color: linear-gradient(
  180deg,rgb(112,112,112)0%,rgb(147,147,147)0%,rgb(100,100,100)30%,rgb(79,79,79)40%
  , rgb(124,124,124) 50%,rgb(60,60,60)70%,rgb(6,6,6)60%, rgb(40,40,40) 10%,rgb(6,6,6)100%);
  height:100vh;
  width:100%;
  border: 2px solid green;
  background-image: url("./images/lap2.jpg");
  background-repeat: no-repeat;
  display:table;
border: 2px solid rgb(4, 0, 255);
/* opacity: initial; */
/* background: transparent; */
/* -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  z-index:1;
  position: unset;
  left: 0;
  right: 0;
  width: 100%;
  height: 900px;  */
  
}

.p2{
  /* position: fixed;
  left: 0;
  right: 0;
  z-index: 9999; */
  background-repeat: no-repeat;
  /* border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133)); */
  width: 60%;
  /* color:linear-gradient(
    180deg,rgb(148, 146, 146)1%,rgb(52,52,52)0%); */
height: 60%;
border: 2px solid rgb(40, 202, 135);
margin-left: 40%;
font-weight: bolder;
font-size: x-large;
color: rgb(255, 255, 255);
text-align: center;
margin-top: 32vh;
/**/
}
.console-container{font-family:Khula;
  font-size:4em;
  /* text-align:center; */
  height:117px;
  /* width:600px; */
  display:block;
  /* position:absolute; */
  z-index: 9999;
  top:0;
  bottom:0;
  left:0;
  right:0;
  /* margin:auto; */
  border: 2px solid rgb(255, 0, 128);

}
.console-underscore {
  display:inline-block;
 position:relative;
 top:-0.14em;
 left:10px;
}
.navDiv{
  color: rgb(26, 146, 86);
  border: 2px solid rgb(250, 246, 246);
/* margin-left: 40%; */
/* margin-bottom:50%; */
/* height: 10px; */
/* margin-top: 180px; */
font-weight: bold;
justify-content: space-between;
/* display: inline-flex; */
position: fixed;
width: 100%;
}
.navbar{
  display: table-row;
  color: rgb(18, 78, 43);
 position: fixed;
 width: 100%;
 height: 50px;
background-blend-mode: overlay ;
}
 .img1{
  width: 70%;
  margin-left: 100px;
  margin-right: 100px;
  height: 400px;
  background-repeat: no-repeat;
} 
.nametext{
  width: 10px;
}
.imgAbout{
  display: flex;
  flex-direction: row;
  border: 2px solid rgb(250, 246, 246);

}
 
  .aboutClass {
    text-decoration: none;

    color: white;
    font: 12
px
/20
px
 'opensans-bold', sans-serif;
    color: rgb(20, 19, 19);
    margin-bottom: 12
px
;
color: rgb(255, 255, 255);
/* position: relative; */
   padding: 80px;
}

.links{
  margin: 20px;
  color: #030303;
  text-decoration:wavy ;
  
}
.container1{
  display: flex;
  flex-direction: row;
  color: white;
  /* font-size: large; */
}

.imgSpan{
   padding: 80px;
}
.imgSpan2{
  padding-left: 200px;
}
#mobileNo{
  color: blue;
}
#gmail{
  color: white;
}
.EDUCATION{
  /* padding-left:80px; */
  color: rgb(73, 69, 69);
display: flex;
flex-direction:row;
background-color: white;
/* padding: 10px; */
/* margin: 0px; */
/* height: 100vh; */
width: 100%;
padding-top: 50px; 
 padding-bottom: 50px; 
 padding-right: 50px; 
}
.Work{
  border-top: 1px solid rgb(151, 144, 144);
  /* padding-left:150px; */
  color: rgb(73, 69, 69);
display: flex;
flex-direction:row;
/* justify-content: space-between; */
background-color: white;
 padding-top: 50px; 
 padding-bottom: 50px; 
 padding-right: 50px; 
/* margin: 0px;  */
/* height: 100%; */
width: 100%;
} 
#edu1{
  font-size: 1.2rem;
/* font-style: oblique ; */
  /* padding-left: 82px; */
  font-style: italic;
  font-variation-settings: 'ital' 1;
  font-optical-sizing: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.Skills{
  border-top: 1px solid rgb(151, 144, 144);
/* padding: 50px; */
   /* padding-left:150px; */
   color: rgb(0, 0, 0);
   display: flex;
   flex-direction:column;
   border: 2px solid yellow;
   /* justify-content: space-between; */
   background-color: white;
   /* padding: 0px;
   margin: 0px; */
   /* height: 100%; */
   width: 100%;
   /* content: "\P"; */
   padding-top: 50px; 
 padding-bottom: 50px; 
 padding-right: 50px; 
}
.skillsDiv{
  font-size: 1.3rem;
  color: rgb(5, 5, 5);
  display: flex;
  flex-direction: column;
  border: 2px solid yellow;
padding: 20px;
  /* width: 100%; */
  font-size: 1.2rem;
font-style: oblique ;
  font-style: italic;
  font-variation-settings: 'ital' 1;
  font-optical-sizing: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 justify-content: space-between;
}
.skillchild{
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  padding-left: 300px; 
  padding-bottom: 50px; 
  /* padding-right: 50px;  */
}

/* #hr{
  height:0mm;
} */
#work1{
  /* padding: 80px; */
  text-align: center;
  margin-left: 100px;

  font-size: 1.2rem;
font-style: oblique ;
  /* padding-left:145px; */
  font-style: italic;
  font-variation-settings: 'ital' 1;
  font-optical-sizing: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.blackColor{
  color: black;
  font-style: normal;
  padding: 10px;
  text-align: left;
/* text-align: center; */
}
.e1{
  color: #030303;
  text-decoration: underline;
  border: 2px solid yellow;

}
.leftSide{
  width: 300px;
  /* border: 2px solid rgb(138, 11, 11); */
/* display: flex;
flex-direction: column; */
}
.progress1 h4{
  margin-left: 75px;
  margin-bottom: 0px;

  padding: 0%;
  /* margin: 25px; */
  /* justify-content: space-between; */
}
#p1{
  height: 40px;
  margin: 70px;
  margin-top: 2px;
  margin-bottom: 30px;
  /* padding: 10px; */
  width: 70%;
}
#b1{
  /* padding: 10px; */
  /* margin: 25px; */
  margin-left: 70px;
  /* margin-bottom: 70px;  */
  margin-bottom: 30px;

  margin-right: 4.5px;

}
#AllB{
  margin-bottom: 30px;
  margin-right: 4.5px;

}
#allB{
  /* margin: 50px; */
  margin-left: 70px;
margin-bottom: 20px;

}
.progress1 em{
  font: 15
  px
   'opensans-bold', sans-serif;
      color: #313131;
    }
    .ProjectsList{
      /* color: white; */
      border: 2px solid red;
    }
    .projectHead{
      color: rgb(255, 255, 255);
text-align: center;
/* background-color: rgb(53, 112, 53); */
    }
    .project1{
      height: 200px;
      width: 350px;
      border: 2px solid white;
      margin-top: 70px;
    }
    .project2{
      height: 200px;
      width: 350px;
      border: 2px solid white;
      margin-top: 70px;
    }
    .project3{
      height: 200px;
      width: 350px;
      border: 2px solid white;
      margin-top: 70px;
    }
    .whole-footer-page{
      height: 100%;
      padding: 50px;
     
    }
    .internal-footer-pages{
      display: flex;
      flex-direction: row;
    }
    .foo-text{
      color: #918d8d;
      font-size: 1.5rem;
      text-align: center;
      font:  18
      px
      /36
      px
       'opensans-light', sans-serif;
       font-family: 18
       px
       /36
       px 'opensans-light', sans-serif ;
       padding: 50px;
    }
    .footer-form{
      width: 40%;
      margin: 80px;
    }
    #input-bars{
      height: 70px;
      /* margin: 40px; */
      background-color: #4d4b4b;
    }
    #form-text-area{
      height: 500px;
   
      background-color: #4d4b4b;
    }
    cite{
      color: rgb(255, 123, 1);;
    }
    .contact{
      height: 500px;
      width:30%;
      border: 2px solid white;
      /* margin: 215px;
       */
       margin-top: 115px;
       margin-left: 150px;
      /* margin-left: 700px; */

    }